<!-- Navigation-->
<nav class="nav">
  <div class="nav-logo">
    <p>COOKCHEF</p>
  </div>
  <div class="nav-menu">
    <ul>
      <li><a href="/home" class="link">Home</a></li>
      <li><a href="/chef" class="link">Chef</a></li>
      <li><a href="/reviews" class="link">Reviews</a></li>
      <li><a href="/faqs" class="link">FAQs</a></li>
      <li><a href="/about" class="link">About</a></li>
    </ul>
  </div>
  <div class="nav-button" id="navMenu">
    <button class="btn white-btn" id="loginBtn" onclick="login()">
      Sign In
    </button>
    <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
  </div>
  <div class="nav-menu-btn">
    <box-icon name="menu" onclick="myMenuFunction()"></box-icon>
  </div>
</nav>
