<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link
      rel="stylesheet"
      href="css/aboutstyles.css"
      type="text/css"
      media="all"
    />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <%- include('includes/nav') %>;

      <!------------------------------FORM BOX------------>

      <div class="newformBox">
        <div class="intro">
          <h2>BackGround</h2>
          <p
            style="
              color: rgba(243, 243, 243, 0.893);
              display: flex;
              align-items: center;
              padding-left: 30px;
            "
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, nam
            quibusdam amet, cupiditate illo labore temporibus inventore dolore
            optio excepturi aspernatur consequuntur incidunt, hic possimus
            maxime aperiam unde sit corrupti.
          </p>
        </div>
        <div class="team">
          <h2>About Team</h2>
          <div class="cardCover">
            <!--------Employee1-->
            <div class="card">
              <div class="profilePic">
                <img src="img/background-img.jpg" alt="profilePic" />
              </div>
              <div
                style="
                  display: flex;
                  gap: 2px;
                  position: relative;
                  top: 10px;
                  flex-direction: column;
                "
              >
                <label
                  for=""
                  style="
                    display: block;
                    align-self: center;
                    padding-top: 2px;
                    position: relative;
                    top: 5px;
                    color: rgb(42, 230, 39);
                  "
                  >Geofrey</label
                >
                <p
                  style="
                    color: rgba(11, 11, 10, 0.893);
                    background: rgba(255, 255, 255, 0.8);
                    padding-left: 10px;
                    border-radius: 20px;
                  "
                >
                  Lorem,ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum inventore libero, corporis aliquid sequi veniam,
                  mollitia nisi necessitatibus nulla dolores consectetur iusto
                  explicabo asperiores, veritatis odit. Aperiam debitis deserunt
                  architecto.
                </p>
              </div>
            </div>
            <!----------Employee2-->

            <div class="card">
              <div class="profilePic">
                <img src="img/background-img.jpg" alt="profilePic" />
              </div>
              <div
                style="
                  display: flex;
                  gap: 2px;
                  position: relative;
                  top: 10px;
                  flex-direction: column;
                "
              >
                <label
                  for=""
                  style="
                    display: block;
                    align-self: center;
                    padding-top: 2px;
                    position: relative;
                    top: 5px;
                    color: rgb(42, 230, 39);
                  "
                  >Md Reza</label
                >
                <p
                  style="
                    color: rgba(11, 11, 10, 0.893);
                    background: rgba(255, 255, 255, 0.8);
                    padding-left: 10px;
                    border-radius: 20px;
                  "
                >
                  Lorem,ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum inventore libero, corporis aliquid sequi veniam,
                  mollitia nisi necessitatibus nulla dolores consectetur iusto
                  explicabo asperiores, veritatis odit. Aperiam debitis deserunt
                  architecto.
                </p>
              </div>
            </div>
            <!-------------------------Employee3-->
            <!--------Employee1-->
            <div class="card">
              <div class="profilePic">
                <img src="img/background-img.jpg" alt="profilePic" />
              </div>
              <div
                style="
                  display: flex;
                  gap: 2px;
                  position: relative;
                  top: 10px;
                  flex-direction: column;
                "
              >
                <label
                  for=""
                  style="
                    display: block;
                    align-self: center;
                    padding-top: 2px;
                    position: relative;
                    top: 5px;
                    color: rgb(42, 230, 39);
                  "
                  >Brian</label
                >
                <p
                  style="
                    color: rgba(11, 11, 10, 0.893);
                    background: rgba(255, 255, 255, 0.8);
                    padding-left: 10px;
                    border-radius: 20px;
                  "
                >
                  Lorem,ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum inventore libero, corporis aliquid sequi veniam,
                  mollitia nisi necessitatibus nulla dolores consectetur iusto
                  explicabo asperiores, veritatis odit. Aperiam debitis deserunt
                  architecto.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      {
        function myMenyFunction() {
          var i = document.getElementById('navMenu');
          if (i.className === 'nav-menu') {
            i.className += ' responsive';
          } else {
            i.className = 'nav-menu';
          }
        }
      }
    </script>

    <script>
      {
        var a = document.getElementById('loginBtn');
        var b = document.getElementById('registerBtn');
        var x = document.getElementById('login');
        var y = document.getElementById('register');

        function login() {
          x.style.left = '4px';
          y.style.right = '-520px';
          a.className += ' white-btn';
          b.className = 'btn';
          x.style.opacity = 1;
          y.style.opacity = 0;
        }

        function register() {
          x.style.left = '-510px';
          y.style.right = '5px';
          a.className = 'btn';
          b.className += ' white-btn';
          x.style.opacity = 0;
          y.style.opacity = 1;
        }
      }
    </script>
  </body>
</html>
