<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link
      rel="stylesheet"
      href="./css/loginstyles.css"
      type="text/css"
      media="all"
    />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-logo">
          <p>COOKCHEF</p>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="/home" class="link">Home</a></li>
            <li><a href="/chef" class="link">Chef</a></li>
            <li><a href="/reviews" class="link">Reviews</a></li>
            <li><a href="/faqs" class="link">FAQs</a></li>
            <li><a href="/about" class="link">About</a></li>
          </ul>
        </div>
        <div class="nav-button" id="navMenu">
          <button class="btn white-btn" id="loginBtn" onclick="login()">
            Sign In
          </button>
          <button class="btn" id="registerBtn" onclick="register()">
            Sign Up
          </button>
        </div>
        <div class="nav-menu-btn">
          <box-icon name="menu" onclick="myMenuFunction()"></box-icon>
        </div>
      </nav>

      <!------------------------------FORM BOX------------>
      <div class="form-box">
        <!-----------------------Login Form-->
        <div class="login-container" id="login">
          <div class="top">
            <span
              >Don't have an Account?<a href="#" onclick="register()"
                >Sign Up</a
              ></span
            >
            <header>Login</header>
            <form action="/login" method="POST">
          </div>
          <div class="input-box">
            <input
              type="text"
              name="email"
              id="email"
              class="input-field"
              placeholder="email"
              required
            />
            <box-icon type="solid" name="user"></box-icon>
          </div>
          <div class="input-box">
            <input
              type="password"
              name="password"
              id="password"
              class="input-field"
              placeholder="Password"
              required
            />
            <box-icon name="lock-alt" type="solid"></box-icon>
          </div>
          <div class="input-box">
            <input
              type="submit"
              name=""
              id=""
              class="input-field submit"
              value="Sign In"
            />
          </div>
          
          <div class="two-col">
            <div class="one">
              <input type="checkbox" name="" id="login-check" />
              <label for="register-check">Remember Me</label>
            </div>
            <div class="two">
              <label for=""><a href="#">Forgot Password?</a></label>
            </div>
            </form>
          </div>
        </div>

        <!-----------------------Registration Form-->
        <div class="register-container" id="register">
          <div class="top">
            <span>Have an Account?<a href="#" onclick="login()">Login</a></span>
            <header>Sign Up</header>
          </div>
          <form action="/signup" method="post">
          <div class="two-forms">
            <div class="input-box">
              <input
                type="text"
                name="firstName"
                id=""
                class="input-field"
                placeholder="Firstname"
                required
              />
              <box-icon type="solid" name="user"></box-icon>
            </div>
            <div class="input-box">
              <input
                type="text"
                name="lastName"
                id=""
                class="input-field"
                placeholder="Lastname"
                required
              />
              <box-icon type="solid" name="user"></box-icon>
            </div>
          </div>
          <div class="input-box">
            <input
              type="text"
              name="email"
              id=""
              class="input-field"
              placeholder="Email"
              required
            />
            <box-icon type="solid" name="envelope"></box-icon>
          </div>
          <div class="input-box">
            <input
              type="password"
              name="password"
              id=""
              class="input-field"
              placeholder="Password"
              required
            />
            <box-icon name="lock-alt" type="solid"></box-icon>
          </div>
          <div class="input-box">
            <input
              type="submit"
              name=""
              id=""
              class="input-field submit"
              value="Register"
            />
          </div>
          <div class="two-col">
            <div class="one">
              <input type="checkbox" name="" id="register-check" />
              <label for="register-check">Remember Me</label>
            </div>
            <div class="two">
              <label for=""><a href="#">Terms & Conditions</a></label>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      {
        function myMenyFunction() {
          var i = document.getElementById('navMenu');
          if (i.className === 'nav-menu') {
            i.className += ' responsive';
          } else {
            i.className = 'nav-menu';
          }
        }
      }
    </script>

    <script>
      {
        var a = document.getElementById('loginBtn');
        var b = document.getElementById('registerBtn');
        var x = document.getElementById('login');
        var y = document.getElementById('register');

        function login() {
          x.style.left = '4px';
          y.style.right = '-520px';
          a.className += ' white-btn';
          b.className = 'btn';
          x.style.opacity = 1;
          y.style.opacity = 0;
        }

        function register() {
          x.style.left = '-510px';
          y.style.right = '5px';
          a.className = 'btn';
          b.className += ' white-btn';
          x.style.opacity = 0;
          y.style.opacity = 1;
        }
      }
    </script>
  </body>
</html>
